# Virtual Environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDE files
.DS_Store
.vscode/
vs-code.edn
.idea/
.lsp/
.clj-kondo/
*.swp

# Data files (if large or sensitive - decide based on project policy)
data/

# Plots
plots/
scripts/

# Output / Logs
*.log
results/
output/
logs/

# Secrets
.env

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Experiment scripts and diagnostics
experimental/

# documents
methodology*

quarantine/